services:
  web:
    build:
      context: ./apps/web
      dockerfile: Dockerfile.prod
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    depends_on:
      - api
    networks:
      - vida_net

  admin:
    build:
      context: ./apps/admin
      dockerfile: Dockerfile.prod
    ports:
      - "3001:3001"
    env_file:
      - .env.production
    depends_on:
      - api
    networks:
      - vida_net

  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile.prod
    ports:
      - "3002:3002"
    env_file:
      - .env.production
    depends_on:
      - db
    networks:
      - vida_net
    restart: unless-stopped

  db:
    image: postgres:16-alpine
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: jm1516
      POSTGRES_DB: vida_abundante
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - vida_net

networks:
  vida_net:

volumes:
  pgdata:
